<h1>
  Product Detail
  <%= link_to '查看購物車', store_cart_path(params[:store_id]) %>
</h1>

<table>
  <thead>
    <tr>
      <th scope='col'>商品名稱</th>
      <th scope='col'>商品價錢</th>
      <th scope='col'>商品數量</th>
    </tr>
  </thead>
    <tbody>
      <td><%= @product.title %></td>
      <td><%= @product.list_price %></td>
      <td><%= @product.quantity %></td>
  </tbody>
</table>
